{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'econ_style.css' %}">
	<link rel="stylesheet" href="{% static 'weekly-edition.css' %}">
<!-- 	<link rel="stylesheet" href="{% static 'form-field.css' %}">
	<link rel="stylesheet" href="{% static 'reset.css' %}">
	<link rel="stylesheet" href="{% static 'rule.css' %}"> -->
	<link rel="stylesheet" href="{% static 'color.css' %}">
	<meta charset="UTF-8">
	<title>{{ issue.date }}</title>
</head>
{% block body_block %}
<body>
	{{ issue.html | safe }}
</body>
{% endblock %}